---
import { client } from "../../../tina/__generated__/client"

const navbarData = await client.queries.global({
	relativePath: "navbar.json",
})

const services = navbarData.data.global.services
---

<script>
	//Flyout Menu Display
	const flyoutMenuCloseOptions = (flyoutMenu) => {
		flyoutMenu.ariaLabel = "closed"
		flyoutMenu.style.opacity = "0"
		flyoutMenu.style.transform = "translateY(0px)"
		setTimeout(() => {
			flyoutMenu.classList.add("invisible")
		}, 500)
	}

	const mobileMenuCloseOptions = (mobileMenu) => {
		mobileMenu.ariaLabel = "closed"
		mobileMenu.style.transform = "translateX(500px)"
		setTimeout(() => {
			mobileMenu.classList.add("invisible")
		}, 300)
	}
	document
		.getElementById("flyout-menu-button")
		?.addEventListener("click", () => {
			const flyoutMenu = document.getElementById("flyout-menu")
			if (flyoutMenu?.ariaLabel === "closed") {
				flyoutMenu.classList.remove("invisible")
				flyoutMenu.ariaLabel = "open"
				flyoutMenu.style.opacity = "1"
				flyoutMenu.style.transform = "translatey(20px)"
			} else if (flyoutMenu?.ariaLabel === "open") {
				flyoutMenuCloseOptions(flyoutMenu)
			}
		})
	document.getElementById("flyout-menu")?.addEventListener("mouseleave", () => {
		const flyoutMenu = document.getElementById("flyout-menu")
		if (flyoutMenu?.ariaLabel === "open") {
			flyoutMenuCloseOptions(flyoutMenu)
		}
	})
	//Mobile Menu Display
	document
		.getElementById("mobile-display-button")
		?.addEventListener("click", () => {
			const mobileMenu = document.getElementById("mobile-menu")
			if (mobileMenu?.ariaLabel === "closed") {
				mobileMenu.classList.remove("invisible")
				mobileMenu.ariaLabel = "open"
				mobileMenu.style.transform = "translateX(0px)"
			}
			if (mobileMenu?.ariaLabel === "open") {
				document
					.getElementById("mobile-menu-close-button")
					?.addEventListener("click", () => {
						mobileMenuCloseOptions(mobileMenu)
					})
			}
		})
	document.getElementById("mobile-menu")?.addEventListener("mouseleave", () => {
		const mobileMenu = document.getElementById("mobile-menu")
		if (mobileMenu?.ariaLabel === "open") {
			mobileMenuCloseOptions(mobileMenu)
		}
	})
	document.getElementById("mobile-contact")?.addEventListener("click", () => {
		const mobileMenu = document.getElementById("mobile-menu")
		if (mobileMenu?.ariaLabel === "open") {
			mobileMenuCloseOptions(mobileMenu)
		}
	})
</script>

<header>
	<nav
		class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
		aria-label="Global"
	>
		<div class="flex lg:flex-1">
			<a href="/" class="-m-1.5 p-1.5">
				<span class="sr-only">Zuker Building</span>
				<img
					class="h-8 w-auto"
					src={navbarData?.data?.global?.logo?.logoImage}
					alt="Zuker Building Logo"
				/>
			</a>
		</div>
		<div class="hidden lg:flex lg:gap-x-12">
			<div class="relative">
				<button
					id="flyout-menu-button"
					type="button"
					class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
					aria-labrl="open flyout menu"
				>
					{services?.servicesTitle}
					<svg
						class="h-5 w-5 flex-none text-gray-400"
						viewBox="0 0 20 20"
						fill="currentColor"
						aria-hidden="true"
					>
						<path
							fill-rule="evenodd"
							d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
							clip-rule="evenodd"></path>
					</svg>
				</button>

				<!-- Flyout menu, show/hide based on flyout menu state. -->
				<div
					aria-label="closed"
					id="flyout-menu"
					class="absolute invisible transition ease-in-out duration-500 opacity-0 -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
				>
					<div class="p-4">
						{
							services?.servicesItems?.map(
								(service: { serviceHref: string; serviceName: string }) => (
									<div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
										<div class="flex-auto">
											<p
												href={service?.serviceHref}
												class="block font-semibold text-gray-900"
											>
												{service?.serviceName}
												<span class="absolute inset-0" />
											</p>
											{/* <p class="mt-1 text-gray-600">
												Lorem ipsum dolor sit amet.
											</p> */}
										</div>
									</div>
								),
							)
						}
					</div>
				</div>
			</div>
			{
				navbarData?.data?.global?.navItems?.map(
					(navItem: { linkHref: string; linkName: string }) => (
						<a
							href={navItem?.linkHref}
							class="text-sm font-semibold leading-6 text-gray-900"
						>
							{navItem?.linkName}
						</a>
					),
				)
			}
		</div>
		<div class="lg:flex hidden lg:flex-1 lg:justify-end">
			<a href="/#contact" class="text-sm font-semibold leading-6 text-gray-900"
				>Contact <span aria-hidden="true">&rarr;</span></a
			>
		</div>
		<button id="mobile-display-button" class="lg:hidden flex justify-end">
			<a href="#" class="text-sm font-semibold leading-6 text-gray-900"
				><span aria-hidden="false">Menu</span></a
			>
		</button>
	</nav>

	<!-- Mobile Menu -->
	<div
		class="lg:hidden invisible top-0 h-full fixed p-2 right-0 z-10 bg-white w-full sm:w-96 ring-1 transition translate-x-full ease-in-out duration-500 overflow-y-auto rounded-l-3xl shadow-lg ring-gray-900/10"
		id="mobile-menu"
		role="dialog"
		aria-modal="true"
		aria-label="closed"
	>
		<div
			class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
		>
			<div class="flex items-center justify-between">
				<a href="/" class="-m-1.5 p-1.5">
					<span class="sr-only">Zuker Building</span>
					<img
						class="h-8 w-auto"
						src={navbarData?.data?.global?.logo?.logoImage}
						alt="Zuker Building Logo"
					/>
				</a>
				<button
					type="button"
					id="mobile-menu-close-button"
					class="-m-2.5 rounded-md p-2.5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-900/10"
				>
					<span class="sr-only">Close menu</span>
					<svg
						class="h-6 w-6"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						aria-hidden="true"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
			</div>
			<div class="mt-6 flow-root">
				<div class="-my-6 divide-y divide-gray-500/10">
					<div class="space-y-2 py-6">
						<div class="-mx-3">
							<button
								type="button"
								class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
								aria-controls="disclosure-1"
								aria-expanded="false"
							>
								{services?.servicesTitle}
								<!--
                  Expand/collapse icon, toggle classes based on menu open state.

                  Open: "rotate-180", Closed: ""
                -->
								<!-- <svg
									class="h-5 w-5 flex-none"
									viewBox="0 0 20 20"
									fill="currentColor"
									aria-hidden="true"
								>
									<path
										fill-rule="evenodd"
										d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
										clip-rule="evenodd"></path>
								</svg> -->
							</button>
							<!-- 'Product' sub-menu, show/hide based on menu state. -->
							<div class="mt-2 space-y-2" id="disclosure-1">
								{
									services?.servicesItems?.map((service) => (
										<p class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">
											{service?.serviceName}
										</p>
									))
								}
							</div>
						</div>
						{
							navbarData?.data?.global?.navItems?.map((navItem) => (
								<a
									href={navItem?.linkHref}
									class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
								>
									{navItem?.linkName}
								</a>
							))
						}
					</div>
					<div class="py-6">
						<a
							id="mobile-contact"
							href="/#contact"
							class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
							>Contact</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
